/* Styles for my resume*/
BODY{
  font-family: Garamond, arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight: 400;
  background-color: lightgray;
}


/* Photo samples before bio*/

#photoheading1{
  text-align: left;
  padding-top: 0;
}

#photoheading2{
  text-align: right;
  padding-top: 0;
}

.caption1{
  font-family: Garamond;
  font-size: 1em;

}

.caption2{
  font-family: Garamond;
  font-size: 1em;
  text-align: right;

}

.photosample{
  padding:1em;
}

/*About me section*/

#container{
  width:100%;
  max-width: 1200px;
  margin:0px auto;
  padding-bottom: 50px;
}

/*About me heading*/

#bio{
  font-family: 'Merriweather Sans', sans-serif;  font-weight:400;
  text-transform: uppercase;
  font-size:3em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right:10px;
  margin-left:0px;
  padding-bottom: 0em;
  text-indent: 10px;
  width:100%;
  min-width:300px;
}

/*About me text*/

#biotext{
  font-family: 'Merriweather Sans', sans-serif;  font-weight:400;
    font-size: 1.2em;
    text-align: left;
    margin-left: 30px;
    margin-right:30px;
    padding-top:0em;
    padding-bottom: 2em;
    border-bottom: 2px solid #222325;


}


/*Experience section*/

.experience{
  border-bottom: 2px solid #222325;
  padding-top: 1em;
  padding-bottom: 2em;


}

/*Experience heading*/


.sectionheader{
  font-family: 'Merriweather Sans', sans-serif;  font-weight:400;
  text-transform: uppercase;
  font-size:3em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right:10px;
  margin-left:0px;
  padding-bottom: 1em;
  text-indent: 10px;
  width:100%;
  min-width:300px;


}

.h2{
  font-family: Garamond;

}

/*Job title*/
.jobtitle{
  font-weight:600;
  font-size:1.5em;
  padding-top:.25em;

}

/*Organization*/
.organization{
  font-weight:400;
  font-size: 1.25em;
}

/*Date of employment*/
.date{
  font-weight:400;
  font-style: italic;
  font-size:1em;
  margin-top:2px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;

}

/*Tasks and duties*/

.description{
  margin-top:10px;
  margin-bottom:10px;
  margin-left:0px;
  margin-right:0px;
}

/*Titles of publications*/

.h3{
  text-align: center;
  font-family: Garamond;
}

/*Heading of Publication section*/


#publicationheading{
  font-family: 'Merriweather Sans', sans-serif;  font-weight:400;
  text-transform: uppercase;
  font-size:3em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right:10px;
  margin-left:0px;
  padding-bottom: 1em;
  text-indent: 10px;
  width:100%;
  min-width:300px;

}

/*Publication div*/

.publications{
  border-bottom: 2px solid #222325;
  padding-top: 1em;
  padding-bottom: 2em;
}

/*Education div*/

.educationsection{
  text-align: center;
  border-bottom: 2px solid #222325;
  padding-bottom: 1em;

}

/*Education bottom*/


#education{
  padding-bottom:0em;

}

/*Education heading*/


#degrees {
  margin-top:5px;
  margin-bottom: 0px;
  margin-left:0px;
  margin-right:0px;
  font-family: 'Merriweather Sans', sans-serif;  font-weight:400;
  font-size:1em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right:10px;
  margin-left:0px;
  padding-bottom: 0em;
  text-indent: 10px;
  width:100%;
  min-width:300px;
  line-height: 2;
  border-bottom: 2px solid #222325;
  padding-top: 1em;
  padding-bottom: 2em;


}

/*Skills body*/


.skills{
  font-size: 1em;
  font-family: 'Merriweather Sans', sans-serif;  font-weight:400;
  font-size: 1.2em;
  text-align: left;
  line-height: 2;
  padding-top:.5em;
  padding-bottom: 2em;

}
