/* Styles for my resume*/
BODY{
  font-family: Garamond, arial, sans-serif;
  font-size: 1em
  color:#444
  font-weight: 400;
}



#container{
  width:100%;
  max-width: 1200px;
  margin:0px auto;
  padding-bottom: 50px;
}


/*Profession description*/
#title{
  font-weight:600;
  color:#222325;
  text-transform: uppercase;
  font-size:1.5em;
  text-align: left;
  margin-top:20px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  font-family: Garamond;

}

#p{
    font-family: Garamond;
    font-size: 1em;

}

#photoheading1{
  text-align: left;
  padding-top: 0;
}

#photoheading2{
  text-align: right;
  padding-top: 0;
}

.caption1{
  font-family: Garamond;
  font-size: 1em;

}

.caption2{
  font-family: Garamond;
  font-size: 1em;
  text-align: right;

}

.photosample{
  padding:1em;
}

/*Experience*/
.sectionheader{
  font-size:1.5em;
  text-transform:uppercase;
  background-color:#222325;
  color: #FFF;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right:0px;
  margin-left:0px;
  width:70%;
  min-width:300px;

}

.h2{
  font-family: Garamond;

}


/*Job title*/
.jobtitle{
  font-weight:600;
  font-size:1.5em;
}

/*Organization*/
.organization{
  font-weight:400;
  font-size: 1.25em;
}

/*Date of employment*/
.date{
  font-weight:400;
  font-style: italic;
  font-size:1em;
  margin-top:2px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;

}

.description{
  margin-top:10px;
  margin-bottom:10px;
  margin-left:0px;
  margin-right:0px;
}
#degrees {
  margin-top:5px;
  margin-bottom: 0px;
  margin-left:0px;
  margin-right:0px;

}

#do{
  margin-top:5px;
  margin-bottom: 0px;
  margin-left:0px;
  margin-right:0px;
}

ul{
  font-size: 1em;
}

.top{
  width:60%;
  min-width:300px;
  margin:0px auto;
  padding-bottom: 30px;

}
