/* Top Hat */

.nav-logo {
  color: #ffffff;
  margin: 0 auto;
  font-weight: 700;
  text-transform: uppercase;

}


.hero-image1{
  width:100%;
  border-bottom: 2px solid black;

}

.hero-image2{
  width:100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;


}

.hero-image3{
  width:100%;
  border-bottom: 2px solid black;
  padding-top: 4em;

}

.hero-image{
  width:100%;

}


/* Body container */
.container{
  padding-top:.5em;
  max-width: 800px;
}

/* Heading container */
.heading-container{
  padding-top:1em;
  max-width: 900px;
  margin: auto;
  padding: 2em;
  text-align: center;

}

body{
  background-color: #3e5855;

}

.headline{
  color: white;
  font-family:'Puritan', sans-serif;
  font-weight:600;
  font-size: 3.5em;
  text-decoration: underline;
}


h2{
  font-family:'Puritan', sans-serif;
  color:white;
  font-size: 1.5em;


}

h3{
  font-family:'Puritan', sans-serif;
  color:white;
  font-size: 1em;

}

p{
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.1em;
  color:white;
  text-shadow: 1px black;
}

/* Chapter heading style */


.chapter-heading{
  padding-top: .25em;
  padding-bottom: .25em;
  border-bottom:1px solid white;
  padding-right: .25em;
  text-align:left;
  font-weight:600;
  color: #d1f6ff;

}

.image-caption1{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size:.9em;
  color: lightgray;
  margin-left:auto;
  padding-top:.25em;


}

.image-caption{
  text-align: left;
  font-family: 'Noto Sans', sans-serif;
  font-size:.9em;
  color: lightgray;
  margin-left:auto;
  padding-top:.25em;


}

/* Lede styles */

.lede-letter{

  color: white;
  background-color: black;
  border-radius: 2px;
  box-shadow: 4px 4px 0 #d1f6ff;
  font-size: 350%;
  padding: 6px 3px;
  margin-right: 6px;
  float: left;
}

.lede{
  font-family:'Noto Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
}

strong{
  font-weight: 800;
}



.chart-container1{
  padding-top: .5em;
}

.chart-container2{
  padding-bottom: .5em;
}

/**Media Query for Headline**/

@media(max-width: 800px) {
  .headline{
    font-size:2em;
  }
  .byline{
    font-size:1.5em;
  }

  .dateline{
    font-size:1em;
  }
}


/*Quotey*/

.quote{
  display:block;
  background: #243431;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position:static;
  /*Borders - (Optional)*/
  border-left: 2px solid #001a20;
  border-right: 2px solid #001a20;
  border-top: 2px solid #001a20;
  border-bottom: 2px solid #001a20;


  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #fff;
  -webkit-box-shadow: 2px 2px 15px #fff;
  box-shadow: 2px 2px 15px #fff;

  /*Font*/
  font-family: 'EB Garamond', sans-serif;
  font-size: 28px;
  line-height: 1;
  color: white;

}



.quote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: 'Noto Sans', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: lightgray;
  text-align: justify;

  /*Positioning*/
  position: static;
  left: 10px;
  top:5px;
}

.quote::after{
  /*Reset to make sure*/
  content: "";
}

.quote: a{
  text-decoration: none;
  background:;
  cursor: pointer;
  padding: 0 3px;
  color: lightgray;
}


.quote-attribution{
  font-size: .75em;
  color: lightgray;
  font-weight:100;
  text-align:left;
  padding-top:.5em;
  font-family: 'Noto Sans', sans-serif;

}
/*End quotey*/
